<div>
  <div class="col-md-6">
    <%= image_tag(@product.image.medium.url, :class => ("img-responsive img-thumbnail")) %>
  </div>
  <div class="col-md-6">
    <h1><%= @product.title %></h1>
    <p><%= simple_format(@product.description) %></p>
    <p>价格:¥<%= @product.price %></p>
    <p>库存:<%= @product.quantity %></p>

    <div class="pull-right">
      <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-lg btn-danger" ) %>
      <% else %>
        <a href="#" class="btn btn-lg btn-danger active" role="button" disabled="disabled">库存缺货ing...</a>
      <% end %>
    </div>
  </div>
</div>
